.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: url("https://images.unsplash.com/photo-1524863479829-916d8e77f114?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg"); */
  height: 100vh;
  background-color: #13a5e3b6; /* Dark background color */
  color: #ffffff; /* Light text color */
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.link{
  color: #45a049;
}

.forms {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  margin-top: 20px;
}

/* Additional styles for better readability */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}